<%= render "shared/sidebar" %>

<main class="main-content">
  <h1>Dashboard</h1>
  <p>Welcome, <%= current_user.display_name %>!</p>
  <br />
  <div class="card-grid">
  <% @users_entries.each do |data| %>
    <%= card variant: :dark do %>
  <%= card_header do %>
    <%= card_title "Title" %>
  <% end %>
  <%= card_body do %>
    <p><%=data.to_json%></p>
  <% end %>
  <%= card_footer do %>
    <button>Action</button>
  <% end %>
<% end %>

  <% end %>
  </div>
</main>
